DATABASE_URL=postgres://django_user:django_password@db:5432/django_db
DEBUG=True
DJANGO_SETTINGS_MODULE=config.settings
ALLOWED_HOSTS=*
SECRET_KEY=django-insecure-dev-key

# Период акции (включительно), формат YYYY-MM-DD
PROMO_START_DATE=2025-01-01
PROMO_END_DATE=2025-12-31
